h1 {
  font-size: 40px;
  font-family: 'Futura', sans-serif;
  font-color: white;
}

h2 { 
  font-size: 30px;
  font-family: 'Gill sans', sans-serif; 
  font-color: white;}

h3 {
  font-size: 18px;
  font-family: 'Gill sans', sans-serif;
  font-color: white;
}
 

.card { 
	text-align: left; }